<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wotingfm">

    <!-- 权限声明 -->
    <!-- 访问网络状态-->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 控制呼吸灯，振动器等，用于新消息提醒 -->
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <!-- 外置存储存取权限 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- 允许挂载和反挂载文件系统 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <!-- 允许程序创建显示在其他程序之上，并且类型为TYPE_SYSTEM_ALERT的窗体 -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <!-- 允许程序向外部存储设备写数据 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 外置存储存取权限 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- 允许程序获取网络相关信息 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 允许程序写音频数据 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <!-- 允许程序使用PowerManager WakeLocks以防止处理器休眠或者屏幕锁屏 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!-- 允许程序获取Wifi网络状态信息 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 允许程序使用设备的camera -->
    <uses-permission android:name="android.permission.CAMERA" />
    <!-- 允许程序使用闪光灯 -->
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <!-- 允许程序获得设备信息 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 配置一个程序用于调试 -->
    <uses-permission android:name="android.permission.SET_DEBUG_APP" />

    <!-- 云信SDK 权限申明, 第三方 APP 接入时，请将 com.netease.vcloud.live 替换为自己的包名 -->
    <!-- 和下面的 uses-permission 一起加入到你的 AndroidManifest 文件中。 -->
    <permission
        android:name="com.wotingfm.permission.RECEIVE_MSG"
        android:protectionLevel="signature" />
    <!-- 接收 SDK 消息广播权限， 第三方 APP 接入时，请将 com.netease.vcloud.live 替换为自己的包名 -->
    <uses-permission android:name="com.wotingfm.permission.RECEIVE_MSG" />


    <!-- 声明程序使用camera和自动对焦功能 -->
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <!-- 声明程序使用OpenGL ES 2.0 -->
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />


    <!-- supportsRtl 从左到右 -->
    <!-- android:screenOrientation="portrait" 强制竖屏 -->
    <application
        android:name="com.wotingfm.common.application.BSApplication"
        android:allowBackup="false"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/app_logo"
        android:label="@string/app_name"
        android:supportsRtl="false"
        android:theme="@style/AppBlackTheme">

        <!-- 启动页 -->
        <activity
            android:name=".ui.user.splash.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 引导页 -->
        <activity
            android:name="com.wotingfm.ui.user.guide.view.GuideActivity"
            android:screenOrientation="portrait"
            android:theme="@style/GuideTheme"></activity>

        <!-- 主页 -->
        <activity
            android:name=".ui.main.view.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBar"></activity>


        <!-- 登录主页 -->
        <activity
            android:name="com.wotingfm.ui.user.logo.LogoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />


        <!-- 播放历史 -->
        <activity
            android:name=".ui.play.activity.PlayerHistoryActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <!-- 我的订阅 -->
        <activity
            android:name=".ui.play.activity.MeSubscribeListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <!-- 发现的首页 -->
        <activity
            android:name=".ui.play.look.activity.LookListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <!-- 发现的首页  更多 -->
        <activity
            android:name=".ui.play.look.activity.SelectedMoreActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <!-- 界面举报 -->
        <activity
            android:name=".ui.play.activity.ReportsPlayerActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <!-- 主播个人中心 -->
        <activity
            android:name=".ui.play.activity.AnchorPersonalCenterActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <!-- 搜索 -->
        <activity
            android:name=".ui.play.look.activity.serch.SerchActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <!-- 个人专辑列表 -->
        <activity
            android:name=".ui.play.activity.albums.AlbumsListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <!-- 小分类列表 -->
        <activity
            android:name=".ui.play.look.activity.classification.ClassificationActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <!-- 专辑，节目，下载中 -->
        <activity
            android:name=".ui.play.activity.download.DownloadProgramActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <!-- 专辑详情 -->
        <activity
            android:name=".ui.play.activity.albums.AlbumsInfoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <!--下载选择 -->
        <activity
            android:name=".ui.play.activity.download.DownloadSelectActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />


        <!-- 扫一扫 -->
        <activity
            android:name="com.wotingfm.ui.intercom.scanning.activity.CaptureActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />


        <!-- 扫一扫结果 -->
        <activity
            android:name="com.wotingfm.ui.intercom.scanning.activity.ResultActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

        <!-- 对讲主页 -->
        <activity
            android:name=".ui.intercom.main.view.InterPhoneActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyAppTheme" />

        <!-- 图片剪切 -->
        <activity
            android:name="com.wotingfm.ui.photocut.PhotoCutActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar" />

        <!--  -->
        <activity
            android:name=".ui.test.PlayerActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

        <!--  -->
        <activity
            android:name=".ui.mine.main.MineActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <!-- APP key, 可以在这里设置，也可以在 SDKOptions 中提供。
                    如果 SDKOptions 中提供了，取 SDKOptions 中的值。 -->
        <meta-data
            android:name="com.netease.nim.appKey"
            android:value="14fb7ad37a6489960435071dd1b0c837" />

        <!-- 声明云信后台服务，如需保持后台推送，使用独立进程效果会更好。 -->
        <service
            android:name="com.netease.nimlib.service.NimService"
            android:process=":core" />

        <service
            android:name="com.netease.nimlib.service.NimService$Aux"
            android:process=":core" />

        <!-- 云信SDK的监视系统启动和网络变化的广播接收器，用户开机自启动以及网络变化时候重新登录，
            保持和 NimService 同一进程 -->
        <receiver
            android:name="com.netease.nimlib.service.NimReceiver"
            android:exported="false"
            android:process=":core">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <!-- 云信进程间通信 Receiver -->
        <receiver android:name="com.netease.nimlib.service.ResponseReceiver" />
        <!-- 云信SDK相关 结束                                                              -->


        <service android:name=".common.service.FloatingWindowService" />
    </application>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />


</manifest>