<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wotingfm">
    <!-- supportsRtl 从左到右 -->
    <!-- android:screenOrientation="portrait" 强制竖屏 -->

    <application
        android:name="com.wotingfm.common.application.BSApplication"
        android:allowBackup="false"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/app_logo"
        android:label="@string/app_name"
        android:supportsRtl="false">
        <!-- 启动页 -->
        <activity
            android:name=".ui.splash.view.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 主页 -->
        <activity
            android:name=".ui.main.view.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- 网页调用 待定-->
                <data android:scheme="com.woting.htmlcallback" />
            </intent-filter>
        </activity>

        <!--  -->
        <activity
            android:name=".ui.test.PlayerActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar" />

        <!--  -->
        <activity
            android:name=".ui.test.DuiJiangActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar" />

        <!--  -->
        <activity
            android:name=".ui.test.MineActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar" />

        <service android:name=".common.service.FloatingWindowService" />

    </application>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

</manifest>